<div class="container mt-3">
  <form #form="ngForm" class="form-inline mb-3" (ngSubmit)="submitImage()" autocomplete="off">

    <div class="form-group px-2">
      <label class="width-100px lbl"> Select city :</label>
      <select name="city" class="form-control ml-1" style="width: 200px;" [(ngModel)]="userPhotoParams.id">
        <option *ngFor="let city of cities" [value]="city.id">
          {{city.name}}
        </option>
      </select>
    </div>

    <div class="form-group px-2 mt-2">
      <label class="width-100px lbl"> Select image :</label>
      <input type="file" name="image" id="file-upload" class="form-control ml-1"  
      style="width: 200px;"
       #fileInput
        (change)="onFileSelected($event)"> 

    </div>

    <button type="submit" class="btn btn-primary ml-1">Submit</button>

  </form>
</div>