<div class="container">
  <form #form="ngForm" (ngSubmit)="submitImage()" autocomplete="off">
    <div class="form-group">
      <label for="exampleInputEmail1" style="color: white;">Select the district where the picture was taken</label>
       
      <select class="form-control" id="exampleInputEmail1"
      name="city"
       [(ngModel)]="userPhotoParams.id"> 
        <option *ngFor="let city of cities" [value]="city.id">
          {{city.name}}            
        </option>
      </select>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1" style="color: white;">Upload a picture</label> 
      <input type="file" name="image" id="file-upload" class="form-control" id="exampleInputPassword1" placeholder="Select image" #fileInput (change)="onFileSelected($event)">
    </div>
  
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>