.background-image { 
    background-size: cover;   
    background-repeat: no-repeat;  
    z-index: -1;  
    height: 100%;
    width: 100%;
  }

  .background-image-logged-out {
    /* background-image: url('../src/assets/home-page-mobile.png'); */
    background-image: url('https://res.cloudinary.com/do7pdjcnd/image/upload/v1736489163/Event/home-page-mobile_mtbbvm.png');
  }
  
  .background-image-logged-in {
    /* background-image: url('../src/assets/dashboard_home.png');   */
    background-image: url('https://res.cloudinary.com/do7pdjcnd/image/upload/v1736489161/Event/dashboard_home_ih9otb.png');  
  }

  html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; 
  }

  .logo{
    width: 235px;
    height: 200px;
  }

  .main_slid_image {
    border-radius: 0 0 10px 10px !important;
  }
/* 
  @media (max-width: 768px) {
    .background-image {
      background-size: contain;  
    }
  } */