.custom-slider-container {
  width: 100%; /* Full width for responsive design */
  overflow: hidden; /* Hide content outside the container */
  position: relative;
  margin-bottom: 7px;
}

.slider-wrapper {
  display: flex; /* Arrange slides in a row */
  transition: transform 0.5s ease; /* Smooth sliding effect */
}

.custom-slider-item {
  flex: 0 0 calc(100% / 5); /* Each slide takes 1/5th of the container width */
}

 