<!-- <swiper-container
 class="mySwiper" 
 pagination="true" 
 effect="coverflow" 
 grab-cursor="true"
  centered-slides="true"
slides-per-view="auto"
 coverflow-effect-rotate="50"
  coverflow-effect-stretch="0"
   coverflow-effect-depth="100"
coverflow-effect-modifier="1"
 coverflow-effect-slide-shadows="true"
 loop="true" 
  autoplay="true" 
  >
<swiper-slide *ngFor="let url of (presenceService.photoThread$| async)">
  <img [src]="url" />
</swiper-slide>
</swiper-container> -->

<div class="row">
  
<div class="swiper-container-div col-md-6">

  <swiper-container class="mySwiper2" space-between="10" slides-per-view="5" free-mode="true"
    watch-slides-progress="true">
    <swiper-slide>
      <img src="https://swiperjs.com/demos/images/nature-1.jpg" />
    </swiper-slide>
    <swiper-slide>
      <img src="https://swiperjs.com/demos/images/nature-2.jpg" />
    </swiper-slide>
    <swiper-slide>
      <img src="https://swiperjs.com/demos/images/nature-3.jpg" />
    </swiper-slide>
    <swiper-slide>
      <img src="https://swiperjs.com/demos/images/nature-4.jpg" />
    </swiper-slide>
    <swiper-slide>
      <img src="https://swiperjs.com/demos/images/nature-5.jpg" />
    </swiper-slide>
    <swiper-slide>
      <img src="https://swiperjs.com/demos/images/nature-6.jpg" />
    </swiper-slide>
    <swiper-slide>
      <img src="https://swiperjs.com/demos/images/nature-7.jpg" />
    </swiper-slide>
    <swiper-slide>
      <img src="https://swiperjs.com/demos/images/nature-8.jpg" />
    </swiper-slide>
    <swiper-slide>
      <img src="https://swiperjs.com/demos/images/nature-9.jpg" />
    </swiper-slide>
    <swiper-slide>
      <img src="https://swiperjs.com/demos/images/nature-10.jpg" />
    </swiper-slide>
  </swiper-container>

  <hr>

  <swiper-container style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff" class="mySwiper"
    thumbs-swiper=".mySwiper2" space-between="5"  autoplay="true" loop="true">
    <swiper-slide>
      <img class="round-img" src="https://swiperjs.com/demos/images/nature-1.jpg" />
    </swiper-slide>
    <swiper-slide>
      <img  class="round-img"  src="https://swiperjs.com/demos/images/nature-2.jpg" />
    </swiper-slide>
    <swiper-slide>
      <img  class="round-img" src="https://swiperjs.com/demos/images/nature-3.jpg" />
    </swiper-slide>
    <swiper-slide>
      <img  class="round-img" src="https://swiperjs.com/demos/images/nature-4.jpg" />
    </swiper-slide>
    <swiper-slide>
      <img  class="round-img" src="https://swiperjs.com/demos/images/nature-5.jpg" />
    </swiper-slide>
    <swiper-slide>
      <img  class="round-img" src="https://swiperjs.com/demos/images/nature-6.jpg" />
    </swiper-slide>
    <swiper-slide>
      <img  class="round-img" src="https://swiperjs.com/demos/images/nature-7.jpg" />
    </swiper-slide>
    <swiper-slide>
      <img  class="round-img" src="https://swiperjs.com/demos/images/nature-8.jpg" />
    </swiper-slide>
    <swiper-slide>
      <img  class="round-img" src="https://swiperjs.com/demos/images/nature-9.jpg" />
    </swiper-slide>
    <swiper-slide>
      <img  class="round-img" src="https://swiperjs.com/demos/images/nature-10.jpg" />
    </swiper-slide>
  </swiper-container>

</div>

<div class="col-md-6"  id="mapContainer">
  <button (click)="addPin()">Add pin</button>
<img src="../../assets/bangladesh_districts.png"
 alt="Bangladesh Map" 
 class="bd-map" 
 height="500px"
  width="400px"
  id="mapImage">
</div>
</div>